/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
}

h3 {
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
}
h4 {
  letter-spacing: 0.25rem;
}

nav {
  width: 100%;
  background-color: #2680c0;
  color: white;
  padding: 1rem 1rem;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart-display {
  position: relative;
}

.fa {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.cart-amount {
  position: absolute;
  font-size: 1.3rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -5px;
  left: 8px;
  color: white;
  background: var(--clr-primary-light);
}

.section-center {
  min-height: calc(100vh - 120px);
  margin: 40px auto 0;
  width: 90vw;
  padding: 2.5rem 0;
  max-width: 50rem;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

img {
  width: 100%;
  display: block;
}

.container-heading {
  font-size: 1.5rem;

  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
}

@media screen and (min-width: 500px) {
  .container-heading {
    font-size: 3rem;
  }
}

.empty-cart {
  color: var(--clr-primary-dark);
  margin: 5rem auto;
}

.remove-btn {
  letter-spacing: 0.25rem;
  border: 0;
  outline: none;
  background: transparent;
  color: var(--clr-primary);
  cursor: pointer;
  font-size: 1rem;
}

.clear-btn {
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
}

.clear-btn:hover {
  background: var(--clr-red-light);
}

.cart-title {
  color: var(--clr-grey-1);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.cart-price {
  color: var(--clr-grey-5);
  margin-bottom: 0.5rem;
}

.btn-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-increase-amount {
  position: absolute;
  text-align: center;
  line-height: 1;
  font-size: 1.25rem;
}

.btn {
  color: var(--clr-primary);
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 1rem 0;
}

.cart-total {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: var(--clr-grey-1);
  font-weight: bold;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--clr-grey-5);
}

/* ====LOADING==== */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--clr-primary) transparent var(--clr-primary) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
